.news-main {
    text-align: center; 
  }
  
  .news-heading {
    margin-bottom: 20px;
    color: rgb(165,13,13);
    font-size: 3rem;
    font-weight: bold;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;  
  }
  
  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  