
  body{
      padding: 20px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 1px;
      background-color: black;
  }
  .register_form_container{    
      position: relative;
      width: 90vw;
      height: 650px;
      max-width: 400px;
      max-height: 800px;
      background: #151516;
      border-radius: 50px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
  }
  .register_form_container::before{      
      position: absolute;
      width: 170%;
      height: 300%;
      content: '';
      background-image: conic-gradient(transparent, transparent, transparent, #e8e2e9);
      animation: rotate_border 6s linear infinite;
  
  }
  .register_form_container::after{      
      position: absolute;
      width: 170%;
      height: 300%;
      content: '';
      background-image: conic-gradient(transparent, transparent, transparent, #b10a0a);
      animation: rotate_border 6s linear infinite;
      animation-delay: -3s;
  }
  @keyframes rotate_border{
      0%{
          transform: rotate(0deg);
      }
      100%{
          transform: rotate(360deg);
      }
  }
  .register_form{
      position: absolute;
      content: '';
      background-color: black;
      border-radius: 50px 5px;
      inset: 5px;
      padding: 0px 40px;
      z-index: 10;
      color: #fff;
  
  } 
  h2{
      font-size: 40px;
      font-weight: 600;
      text-align: center;
  }
  .input_group{
      margin-top: 40px;
      position:relative;
      display:flex;
      align-items: center;
      border-bottom: 1px solid #fff;
      justify-content: start;
  }
  .input_text{
      width: 95%;
      height: 30px;
      background: transparent;
      border: none;
      outline: none;
      
      font-size: 20px;
      padding-left: 10px;
      color: #fff;  
  }
  /* Your other CSS styles for the input */
.input_text::-webkit-inner-spin-button,
.input_text::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  color: white !important; /* Change this to your desired color (e.g., white) */
  font-size: 14px; /* Adjust the font size if needed */
}

  ::placeholder{
      font-size: 15px;
      color: #fff;
      letter-spacing: 1px;
  }
  .fa{
      font-size: 20px;  
  }
  #register_button{
    position: relative;
    width: 300px;
    height: 40px;
    transition: 1s;
    margin-top: 70px;  
    display:flex;
    justify-content: center;  
  }
  #register_button button{
      position: absolute;
      width: 180px;
      z-index: 10;
      cursor: pointer;
      font-size: 22px;
      color: white;
      letter-spacing: 2px;
      border: 1px solid white;
      border-radius: 50px;
      background-color: black;
  }
  .fotter {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
  
  }
  .fotter button{
      text-decoration: none;
      cursor: pointer;
      font-size: 18px;
  }
  .glowIcon {
      text-shadow: 0 0 10px #fff;
  
  }

  .for-form-error{
    font-size: 15px;
  }

  .for-heading{
    color: #b10a0a;
  }